#PLACEHOLDER FOR NOW

In [11]:
url <- "https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data"

download.file(url, "data/raw/adult_raw.csv", mode = "wb")

url_2 <- "https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.names"
download.file(url_2, "data/raw/adult_names_raw.csv", mode = "wb")

In [12]:
adult_raw <- read.csv("data/raw/adult_raw.csv", 
                        header = FALSE,
                        na.strings = "?")
colnames(adult_raw) <- c("age", "workclass", "fnlwgt", "education", "education_num",
                        "marital_status", "occupation", "relationship", "race", "sex",
                        "capital_gain", "capital_loss", "hours_per_week", "native_country", "income"
)
head(adult_raw)

  age workclass         fnlwgt education  education_num marital_status
1 39   State-gov         77516  Bachelors 13             Never-married
2 50   Self-emp-not-inc  83311  Bachelors 13             Married-civ-spouse
3 38   Private          215646  HS-grad    9             Divorced
4 53   Private          234721  11th       7             Married-civ-spouse
5 28   Private          338409  Bachelors 13             Married-civ-spouse
6 37   Private          284582  Masters   14             Married-civ-spouse
  occupation         relationship   race   sex     capital_gain capital_loss
1  Adm-clerical       Not-in-family  White  Male   2174         0
2  Exec-managerial    Husband        White  Male      0         0
3  Handlers-cleaners  Not-in-family  White  Male      0         0
4  Handlers-cleaners  Husband        Black  Male      0         0
5  Prof-specialty     Wife           Black  Female    0         0
6  Exec-managerial    Wife           White  Female    0         0
  hours_per_week native_country income
1 40              United-States  <=50K
2 13              United-States  <=50K
3 40              United-States  <=50K
4 40              United-States  <=50K
5 40              Cuba           <=50K
6 40              United-States  <=50K